{% extends 'base.html' %}
{% block page_name %}User Details{% endblock %}
{% block content %}

<h1>User Information</h1>
<img src="{{user.profile_pic}}">

<ul>
    <li>ID: {{user.id}}</li>
    <li>First Name : {{user.first_name}}</li>
    <li>Last Name : {{user.last_name}}</li>
</ul>
<button><a href="/users/edit/{{user.id}}">Edit</a></button>
<!-- <button><a href="/users/delete/{{user.id}}" method="DELETE">Delete</a></button> -->

<form action="/users/delete/{{user.id}}" method="POST">
    <button>Delete</button>
</form>

<button><a href="/users">Home</a></button>


{% endblock %}