{% extends 'base.html' %}
{% block page_name %}User Details{% endblock %}
{% block content %}

<h2>User Information</h2>
<img src="{{user.profile_pic}}">

<ul>
    <li>ID: {{user.id}}</li>
    <li>First Name : {{user.first_name}}</li>
    <li>Last Name : {{user.last_name}}</li>
</ul>
<button><a href="/users/edit/{{user.id}}">Edit</a></button>
<form action="/users/delete/{{user.id}}" method="POST">
    <button>Delete</button>
</form>

<section>
    <ul>
        {% for post in posts%}
        <li><a href="/posts/{{post.id}}">{{post.title}}</a></li>
        {% endfor%}
    </ul>
    <form action="/users/{{user.id}}/posts/new">
        <button>New Post</button>
    </form>
</section>

<button><a href="/users">Home</a></button>



{% endblock %}