
{% extends 'base.html' %}
{% block page_name %}Edit User{% endblock %}
{% block content %}
<h1>Edit a User</h1>
<form action="/users/edit/{{user.id}}" method="POST">
       <input type="text" name="first_name" value="{{user.first_name}}">
       <br>
       <input type="text" name="last_name" value="{{user.last_name}}">
       <br>
       <input type="url" name="profile_pic" value="{{user.profile_pic}}">
       <br>
       <button><a href="/users/details/{{user.id}}">Cancel</a></button>
       <button>Save</button>
</form>

{% endblock %}
