{% extends 'base.html' %}
{% block page_name %}Users{% endblock %}
{% block content %}
<h2>New Post</h2>
<h3>{{user.first_name}}'s new post!</h3>
<form action="/users/{{user.id}}/posts/new" method="POST">
       <input type="text" name="title" placeholder="Title">
       <br>
       <input type="text" name="content" placeholder="Type your comment here...">
       <br>
       <h4>Tags:</h4>
       {% for tag in tags %}
       <input id="{{tag.id}}" name="tags" value="{{tag.id}}" type="checkbox">
       <label for="{{tag.id}}">{{tag.tag_name}}</label>
       <br>
       {% endfor %}
       <button>Submit</button>
       <br>
       <button><a href="/users/details/{{user.id}}">Cancel</a></button>
</form>
{% endblock %}