{% extends 'base.html' %}
{% block page_name %}Post Details{% endblock %}
{% block content %}


<h2>{{post.title}}</h2>
<p>Created at {{post.created_at}}</p>
<p>{{post.content}}</p>

<h3>All Tags:</h3>

<ul>
    {% for tag in tags %}
    <li><a href="/tags/{{tag.id}}">{{tag.tag_name}}</a></li>
    {% endfor %}
</ul>


<button><a href="/posts/{{post.id}}/edit">Edit</a></button>
<form action="/posts/{{post.id}}/delete" method="POST">
    <button>Delete</button>
</form>
<button><a href="/users/details/{{post.post_user.id}}">Back</a></button>


{% endblock %}